<div class="container-white">
   <div class="row">
      <div class="col-sm-7">
         <h2>My Courses</h2>
         <hr />

         <div class="panel panel-default" ng-repeat="course in courses">
            <div class="panel-heading">
               <button class="btn btn-info pull-right" type="button" ng-click="viewCourse(course.name)">View</button>
               <h3 class="panel-title">{{ course.name }}</h3>
               <div class="clearfix"></div>
            </div>
            <div class="panel-body">
               Delete this course?
               <button class="btn btn-danger pull-right" type="button" ng-click="deleteCourse(course.name)">Delete</button>
            </div>
         </div>
      </div>
      <div class="col-sm-5">
         <h2>Create new</h2>
         <hr />

         <form>
            <div class="form-group">
               <input type="text" placeholder="Course name" ng-model="courseName" class="form-control" />
            </div>
            <button class="btn btn-primary" ng-click="createCourse()">Submit</button>
            <h4 class="bg-danger" ng-repeat="error in errors" style="padding: 10px;">
               {{ error }}
            </h4>
         </form>
      </div>
   </div>
</div>
