<h3><a style="cursor: pointer" onclick="window.history.back();">Back to Course</a></h3>
<div class="container-white" ng-show="challengeOpen">
   <div class="row">
      <h1>{{ challenge.name }}</h1>
      <p style="font-size: 16px;" ng-bind-html="challenge.description"></p>

      <img ng-show="challenge.image" src="{{challenge.image}}" width="500" style="display:block;" class="centered-guy"></img>

      <div ng-show="challenge.type == 'multchoice'">
         <form ng-submit="answerMultipleChoice()">
            <div class="radio" ng-repeat="possibility in challenge.Possibilities">
               <label>
                  <input type="radio" id="{{'radioguy' + $index}}" name="optradio" ng-model="multChoice.chosen" value="{{$index}}" />
                  <label for="{{'radioguy' + $index}}">{{possibility.text}}</label>
               </label>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="multChoice.chosen === null || disableAtt">Submit</button>
         </form>
      </div>

      <div ng-show="challenge.type == 'number'">
         <form ng-submit="answerNumerical()">
            <label for="attempt-input">Your answer:</label>
            <input type="number" class="form-control" ng-model="attempt.numInput" step="any"></input><br />
            <button type="submit" class="btn btn-primary" ng-disabled="attempt.numInput === null || disableAtt">Submit</button>
         </form>
      </div>

      <div ng-show="challenge.type == 'shortanswer'">
         <form ng-submit="createAttempt()">
            <label for="attempt-input">Your answer:</label>
            <input type="text" class="form-control" rows="3" ng-model="attempt.input"></input><br />
            <button type="submit" class="btn btn-primary" ng-disabled="!attempt.input.trim() || disableAtt">Submit</button>
         </form>
      </div>

   </div>

   <div class="row" ng-hide="challenge.Attempts.length === 0">
      <h1>Previous Attempts</h1>
      <ul class="list-group">
         <li class="list-group-item" ng-repeat="attempt in challenge.Attempts" ng-class="{'list-group-item-success' : attempt.correct}">{{attempt.input}}</li>
      </ul>
   </div>
</div>

<div class="container-white" ng-show="!challengeOpen">
   <div class="row">
      <h1>{{ challenge.name }}</h1>

      <p style="font-size: 16px;" ng-bind-html="challenge.description"></p>
      <img ng-show="challenge.image"  src="{{challenge.image}}" width="300" style="display:block;" class="centered-guy"></img>
      <hr />

      <div ng-show="challenge.type == 'multchoice'">
         <div ng-repeat="possibility in challenge.Possibilities">
            <label for="{{'radioguy' + $index}}">{{letters[$index] + ": " + possibility.text}}</label>
         </div>
      </div>
   </div>

   <div class="row" ng-hide="challenge.Attempts.length === 0" style="margin-top: 50px;">
      <h1 ng-show="challengeComplete">You've already solved this challenge!</h1>
      <h1 ng-show="challengeClosed">Oh no! You answered this challenge incorrectly.</h1>
      <h3 ng-show="challengeClosed">Don't worry, it still counts towards earning the extra credit.</h3>
      <h2>Previous Attempts:</h2>
      <ul class="list-group" ng-show="challenge.type !== 'multchoice'">
         <li class="list-group-item" ng-repeat="attempt in challenge.Attempts" ng-class="{'list-group-item-success' : attempt.correct}">{{attempt.input}}</li>
      </ul>
      <ul class="list-group" ng-show="challenge.type === 'multchoice'">
         <li class="list-group-item" ng-repeat="attempt in challenge.Attempts" ng-class="{'list-group-item-success' : attempt.correct}">{{letters[attempt.input] + ": " + challenge.Possibilities[attempt.input].text}}</li>
      </ul>
   </div>

   <div ng-if="challenge.explanation">
      <p style="font-size: 16px;" ng-bind-html="challenge.explanation"></p>
   </div>

   <div ng-if="!challenge.explanation">
      <h2>Correct answer: {{challenge.answer}}</h2>
   </div>
</div>
