
<h1>New Challenge</h1>

<uib-tabset active="activeJustified" justified="true">
  <uib-tab index="0" heading="Numerical" ng-click="challenge.type = 'number'" id="fix-tab-border">
    <div class="container-white square-top">
      <div class="row">
        <form ng-submit="createNumerical()" class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2" for="num-chlname">Name:</label>
            <div class="col-sm-10">
              <input type='text' ng-model="challenge.name" class="form-control" id="num-chlname" placeholder="Challenge Name" />
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="num-chldesc">Description:</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="3" ng-model="challenge.description" placeholder="Challenge Description" id="num-chldesc"></textarea>
            </div>
          </div>


          <div class="form-group">
            <label class="control-label col-sm-2" for="num-chlans">Answer:</label>
            <div class="col-sm-10">
              <input type='number' ng-model="challenge.answer" class="form-control" placeholder="Enter a number" step="any" id="num-chlans"/>
            </div>
          </div>

          <button type="submit" class="btn btn-primary col-sm-2 col-sm-offset-2 col-xs-offset-0" ng-disabled="numChallengeNotReady()">Create</button>
        </form>
      </div>
    </div>
  </uib-tab>
  <uib-tab index="1" heading="Short Answer" ng-click="challenge.type = 'shortanswer'" id="fix-tab-border">
    <div class="container-white square-top">
      <div class="row">
        <form class="form-horizontal" ng-submit="createShortAnswer()">

          <div class="form-group">
            <label class="control-label col-sm-3" for="short-chlname">Name:</label>
            <div class="col-sm-9">
              <input type='text' ng-model="challenge.name" class="form-control" placeholder="Challenge Name" id="short-chlname"/>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3" for="short-chldesc">Description:</label>
            <div class="col-sm-9">
              <textarea class="form-control" rows="3" ng-model="challenge.description" placeholder="Challenge Description" id="short-chldesc"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3" for="short-chlinexact">Inexact Answers:</label>
            <div class="col-sm-9">
              <input type='text' ng-model="challenge.inexact" class="form-control" placeholder="Inexact Answers" id="short-chlinexact"/>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3" for="short-chlexact">Exact Answers:</label>
            <div class="col-sm-9">
              <input type='text' ng-model="challenge.exact" class="form-control" placeholder="Exact Answers" id="short-chlexact"/>
            </div>
          </div>

          <button type="submit" class="btn btn-primary col-sm-2 col-sm-offset-3 col-xs-offset-0" ng-disabled="shortChallengeNotReady()">Create</button>
        </form>
      </div>
    </div>
  </uib-tab>
  <uib-tab index="2" heading="Multiple Choice" ng-click="challenge.type = 'multchoice'" id="fix-tab-border">
    <div class="container-white square-top">
      <div class="row">

        <form ng-submit="createMultChoice()" class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2" for="mc-chlname">Name:</label>
            <div class="col-sm-10">
              <input type='text' ng-model="challenge.name" class="form-control" placeholder="Challenge Name" id="mc-chlname" tabindex="1"/>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="mc-chldesc">Description:</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="3" ng-model="challenge.description" placeholder="Challenge Description" id="mc-chldesc" tabindex="2"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="short-chldesc">Answers:</label>
            <div class="col-sm-10">
              <div class="form-inline smol-push" ng-repeat="radioAnswer in radioAnswers">
                <!-- <label> -->
                  <div class="radio">
                    <input type="radio" name="optradio" ng-model="correctRadioOption.chosen" value="{{$index}}">
                    <input type='text' tabindex="{{$index + 3}}" class="form-control" id="expand-long" ng-model="radioAnswer.answerText" ng-class="correctRadioOption.chosen == $index ? 'correct-mc' : 'wrong-mc'"
                    placeholder="Answer {{$index + 1}}" />
                    <button type="button" class="btn btn-danger" tabindex="{{$index + radioAnswers.length + 3}}" ng-click="removeOption($index)">Remove</button>
                  </div>
                <!-- </label> -->
              </div>
            </div>
          </div>

          <button type="button" class="btn btn-info col-sm-2 col-sm-offset-2 col-xs-offset-0" ng-click="addOption()">+ Add Option</button>

          <div class="col-sm-10"></div>
          <br />
          <br />
          <br />

          <button type="submit" class="btn btn-primary col-sm-2 col-sm-offset-2 col-xs-offset-0" ng-disabled="mcChallengeNotReady()">Create</button>
        </form>
      </div>
    </div>
  </uib-tab>
</uib-tabset>
