<div class="inner cover" ng-hide="loggedUser">
  <h1 class="cover-heading">Commitment</h1>
  <p class="lead">
    <a href="#login" class="btn btn-lg btn-primary">Log In</a>
    <a href="#register" class="btn btn-lg btn-default">Register</a>
  </p>
</div>

<div class="container-white" ng-show="loggedUser">
  <div class="row">
    <h1>Classes</h1>
    <div class="panel panel-success" ng-repeat="course in enrolledCourses">
      <div class="panel-heading">
        <h2 class="panel-title">{{course.name}}</h2>
      </div>
      <div class="panel-body list-group">
        <div class="row list-group-item">
          <div class="col-xs-6">You're all caught up!</div>
          <div class="col-xs-6"><span class="pull-right"><b>Points:</b> 300</span></div>
          <div class="col-xs-12"><span class="pull-right"><b>Streak:</b> 3 days! Keep it up!</span></div>
        </div>
        <div class="row list-group-item">
          <span><b>Today's Challenge: </b> Calculate the determinant.</span>
          <div class="btn btn-info pull-right">Go!</div>
        </div>
        <div clas="row list-group-item">
          <div class="btn btn-primary pull-right" ng-click="gotoCourse(course.sanitizedName)">See all challenges</div>
        </div>
      </div>
    </div>
    <uib-accordion close-others="false">
      <uib-accordion-group  ng-repeat="week in weeks" id="test1" class="list-group accordion-list-fix panel panel-success" is-open="status[0].open" is-disabled="status[0].disabled">
        <uib-accordion-heading>
          <i class="pull-left glyphicon glyphicon-ok"></i>
          Week {{$index}}
          <!-- <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> -->
        </uib-accordion-heading>
        <a href="#" class="list-group-item">Calculate the determinant:<i class="pull-left glyphicon glyphicon-ok chl-status"></i><span class="badge pull-right">+5</span></a>
        <a href="#" class="list-group-item">When can a determinant be negative?<i class="pull-left glyphicon glyphicon-ok chl-status"></i><span class="badge pull-right">+6</span></a>
        <a href="#" class="list-group-item">Convert this point from Camera to World space:<i class="pull-left glyphicon glyphicon-ok chl-status"></i><span class="badge pull-right">+7</span></a>
        <a href="#" class="list-group-item">What is the third stage in the Graphics Pipeline?<i class="pull-left glyphicon glyphicon-ok chl-status"></i><span class="badge pull-right">+8</span></a>
      </uib-accordion-group>
    </uib-accordion>
  </div>

  <div class="row" ng-hide="availableCourses.length === 0">
    <h2>Available Courses – Winter 2016</h2>
    <div class="col-sm-12 col-md-6" ng-repeat="course in availableCourses">
      <div class="panel panel-default">
        <div class="panel-heading">
          <button class="btn btn-info pull-right" type="button" ng-click="enrollCourse(course.sanitizedName)">Enroll</button>
          <h3 class="panel-title">{{ course.name }}</h3>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
