<div class="inner cover" ng-hide="loggedUser">
   <h1 class="cover-heading">Commit</h1>
   <!-- <p class="lead">
      <a href="#login" class="btn btn-lg btn-primary">Log In</a>
      <a href="#register" class="btn btn-lg btn-default">Register</a>
   </p> -->
   <a ng-href="https://users.csc.calpoly.edu/~efiske/login{{local}}.php" class="btn btn-calpoly btn-lg" role="button">Login with Cal Poly</a>
</div>

<div ng-show="loggedUser" style="margin-top: 40px;">
   <h4 style="margin-bottom:0px;">You have <b>{{numEntries}}</b> <ng-pluralize count="numEntries"when="{'one': 'entry', 'other': 'entries'}"></ng-pluralize> into the $20 gift card raffle!</h4>
   <h5 style="margin-top:5px;">You get 1 entry every 50 points.</h5>
   <h4>You've used Commit for <b>{{loggedUser.commitment}}</b> unique days. That's worth +{{ Math.max(loggedUser.commitment/15, 1.0) }}
% to your final grade!</h4></div>

<div class="container-white">
   <div class="row" ng-show="loggedUser.role >= 1">
      <h1>Classes</h1>
      <h3 ng-show="adminCourses.length === 0">You're not in charge of any classes! :(</h3>
      <div class="panel panel-success" ng-repeat="course in adminCourses">
         <div class="panel-heading">
            <h2 class="panel-title">{{course.name}}</h2>
         </div>
         <div class="panel-body list-group">
            <div class="row list-group-item">
               <div class="btn btn-success pull-right" style="margin-right: 10px" ng-click="gotoCourse(course.sanitizedName, true)">
                  View Admin Page
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row" ng-show="loggedUser.role >= 0">
      <h1>Enrolled Classes</h1>
      <h3 ng-show="enrolledCourses.length === 0">You're not enrolled in any classes! :(</h3>

         <div class="col-xs-12 col-sm-6" ng-repeat="course in enrolledCourses">
            <a ng-click="gotoCourse(course.sanitizedName, false)">
               <div class="panel panel-info mat-card">
                  <div class="panel-heading">
                     <h2 class="panel-title">{{course.name}}</h2>
                  </div>
                  <div class="panel-body list-group class-display">
                     <div class="row list-group-item" style="border-bottom-width: 0px;">
                        <div class="col-xs-6"><b>Points: </b><div class="class-display-val">{{course.Enrollment.creditsEarned}}</div></div>
                        <div class="col-xs-6"><b>Commitment: </b><div class="class-display-val">{{loggedUser.commitment}}</div></div>
                     </div>
                  </div>
               </div>
            </a>

         </div>
   </div>

   <div class="container-white row" ng-show="!!loggedUser">
      <h2>Available Courses – Spring 2017</h2>
      <div class="col-xs-12 col-sm-6" ng-repeat="course in availableCourses">
         <div class="panel panel-default">
            <div class="panel-heading">
               <button class="btn btn-info pull-right" type="button" ng-click="enrollCourse(course.sanitizedName)">Enroll</button>
               <h3 class="panel-title">{{ course.name }}</h3>
               <div class="clearfix"></div>
            </div>
         </div>
      </div>
   </div>
</div>
