<div class="container-white row">
  <uib-accordion close-others="false">
    <uib-accordion-group ng-init="status.open = true" id="test1" class="list-group accordion-list-fix panel panel-success" is-open="status.open" is-disabled="status.disabled">
      <uib-accordion-heading>
        <i class="pull-left glyphicon glyphicon-ok"></i>
        Week 1
        <!-- <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> -->
      </uib-accordion-heading>
      <a href="#" class="list-group-item">Calculate the determinant:<i class="pull-left glyphicon glyphicon-ok chl-status"></i><span class="badge pull-right">+5</span></a>
      <a href="#" class="list-group-item">When can a determinant be negative?<i class="pull-left glyphicon glyphicon-ok chl-status"></i><span class="badge pull-right">+6</span></a>
      <a href="#" class="list-group-item">Convert this point from Camera to World space:<i class="pull-left glyphicon glyphicon-ok chl-status"></i><span class="badge pull-right">+7</span></a>
      <a href="#" class="list-group-item">What is the third stage in the Graphics Pipeline?<i class="pull-left glyphicon glyphicon-ok chl-status"></i><span class="badge pull-right">+8</span></a>
    </uib-accordion-group>

    <uib-accordion-group id="test2" class="list-group accordion-list-fix panel panel-warning" is-open="status.open" is-disabled="status.disabled">
      <uib-accordion-heading>
        <i class="pull-left glyphicon glyphicon-alert"></i>
        Week 2 – One challenge due today!
        <!-- <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> -->
      </uib-accordion-heading>
      <a href="#chls/determinant1" class="list-group-item">Calculate the determinant:<i class="pull-left glyphicon glyphicon-ok chl-status"></i><span class="badge pull-right">+9</span></a>
      <a href="#chls/determinant-negative" class="list-group-item">When can a determinant be negative?<i class="pull-left glyphicon glyphicon-ok chl-status"></i><span class="badge pull-right">+10</span></a>
      <a href="#chls/camera_to_world" class="list-group-item">Convert this point from Camera to World space:<i class="pull-left glyphicon glyphicon-ok chl-status"></i><span class="hidden-xs-down badge pull-right">+10</span></a>
      <a href="#chls/graphics_pipeline_3" class="list-group-item">What is the third stage in the Graphics Pipeline?<i class="pull-left glyphicon glyphicon-alert chl-status"></i></a>
      <a  class="list-group-item disabled">What is the fourth stage in the Graphics Pipeline?<i class="pull-left glyphicon glyphicon-none chl-status"></i></a>
      <a  class="list-group-item disabled">Fill in the blank for this fragment shader<i class="pull-left glyphicon glyphicon-none chl-status"></i></a>
      <a  class="list-group-item disabled">Fill in the blank for this vertex shader<i class="pull-left glyphicon glyphicon-none chl-status"></i></a>
    </uib-accordion-group>
  </uib-accordion>
</div>

<div class="container-white row">
   <div class="col-xs-12">
      <h2>Today's Challenges</h2>


   </div>
</div>

<div class="container-white row">
   <div class="col-sm-7">
      <h2>My Recent Attempts</h2>
      <hr />

      <div class="panel panel-default panel-{{ getAttColor(attempts[0]) }}" ng-repeat="(challengeName, attempts) in grouped">
         <div class="panel-heading">
            <span class="badge pull-left">
               {{ attempts[0].score }}
            </span>
            <span class="badge pull-right">
               {{ attempts[0].startTime | date:'short' }}
            </span>
            <h2 class="panel-title">{{ challengeName }}</h2>
            <div class="clearfix"></div>
         </div>
         <ul class="list-group">
            <li class="list-group-item bg-{{ getAttColor(attempt) }}" ng-repeat="attempt in attempts">
               <span class="badge pull-left">
                  {{ attempt.score }}
               </span>
               &nbsp;&nbsp;{{ attempt.input }}
               <span class="pull-right" ng-show="isWithinDay(attempt, challengeName)">
                  <i class="fa fa-bolt"></i>
               </span>
            </li>
            <li class="list-group-item" ng-show="isOpen(challengeName)">
               <a href="#chls/{{ challengeName }}" class="btn btn-success btn-small" type="button">Try again</a>
            </li>
         </ul>
      </div>
   </div>
   <div class="col-sm-5">
      <h2>Open</h2>
      <hr />

      <div class="panel panel-default" ng-repeat="challenge in challenges | filter:notInProgress">
         <div class="panel-heading">
            <a href="#chls/{{ challenge.name }}" class="btn btn-success pull-right" type="button">Go!</a>
            <h3 class="panel-title">{{ challenge.name }}</h3>
            <div class="clearfix"></div>
         </div>
         <div class="panel-body">
            {{ challenge.description }}
         </div>
      </div>
      <h4>
         Nothing!
         </h4>
      <h1>
         <i class="fa fa-hand-peace-o" ng-hide="(challenges | filter:notInProgress).length > 0"></i>
      </h1>
   </div>
</div>

<div class="container-white row">
   <h2>Available Courses – Winter 2016</h2>
   <div class="col-sm-12 col-md-6" ng-repeat="course in availableCourses">
      <div class="panel panel-default">
         <div class="panel-heading">
            <button class="btn btn-info pull-right" type="button" ng-click="enrollCourse(course.name)">Enroll</button>
            <h3 class="panel-title">{{ course.name }}</h3>
            <div class="clearfix"></div>
         </div>
      </div>
   </div>
</div>
