<div class="container-white row">
   <div class="col-sm-7">
      <h2>My Recent Attempts</h2>
      <hr />

      <div class="panel panel-default panel-{{ getAttColor(attempts[0]) }}" ng-repeat="(challengeName, attempts) in grouped">
         <div class="panel-heading">
            <span class="badge pull-left">
               {{ attempts[0].score }}
            </span>
            <span class="badge pull-right">
               {{ attempts[0].startTime | date:'short' }}
            </span>
            <h2 class="panel-title">{{ challengeName }}</h2>
            <div class="clearfix"></div>
         </div>
         <ul class="list-group">
            <li class="list-group-item bg-{{ getAttColor(attempt) }}" ng-repeat="attempt in attempts">
               <span class="badge pull-left">
                  {{ attempt.score }}
               </span>
               &nbsp;&nbsp;{{ attempt.input }}
            </li>
            <li class="list-group-item" ng-show="isOpen(challengeName)">
               <a href="#Chls/{{ challengeName }}" class="btn btn-success btn-small" type="button">Try again</a>
            </li>
         </ul>
      </div>
   </div>
   <div class="col-sm-5">
      <h2>Open</h2>
      <hr />

      <div class="panel panel-default" ng-repeat="challenge in challenges | filter:notInProgress">
         <div class="panel-heading">
            <a href="#Chls/{{ challenge.name }}" class="btn btn-success pull-right" type="button">Go!</a>
            <h3 class="panel-title">{{ challenge.name }}</h3>
            <div class="clearfix"></div>
         </div>
         <div class="panel-body">
            {{ challenge.description }}
         </div>
      </div>
   </div>
</div>
