<div class="container-white">
  <div class="row">
    <h1>Classes</h1>
    <div class="panel panel-success clickable-panel" ng-repeat="course in enrolledCourses">
      <div class="panel-heading">
        <h2 class="panel-title">CPE 101</h2>
      </div>
      <div class="panel-body list-group">
        <div class="row list-group-item">
          <div class="col-xs-6">You're all caught up!</div>
          <div class="col-xs-6"><span class="pull-right"><b>Points:</b> 300</span></div>
          <div class="col-xs-12"><span class="pull-right"><b>Streak:</b> 3 days! Keep it up!</span></div>
        </div>
        <div class="row list-group-item">
          <span><b>Today's Challenge: </b> Calculate the determinant.</span>
          <div class="btn btn-info pull-right">Go!</div>
        </div>
        <div clas="row list-group-item">
          <div class="btn btn-primary pull-right">See all challenges</div>
        </div>
      </div>
    </div>
    <uib-accordion close-others="false">
      <uib-accordion-group  ng-repeat="week in weeks" id="test1" class="list-group accordion-list-fix panel panel-success" is-open="status[0].open" is-disabled="status[0].disabled">
        <uib-accordion-heading>
          <i class="pull-left glyphicon glyphicon-ok"></i>
          Week {{$index}}
          <!-- <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> -->
        </uib-accordion-heading>
        <a href="#" class="list-group-item">Calculate the determinant:<i class="pull-left glyphicon glyphicon-ok chl-status"></i><span class="badge pull-right">+5</span></a>
        <a href="#" class="list-group-item">When can a determinant be negative?<i class="pull-left glyphicon glyphicon-ok chl-status"></i><span class="badge pull-right">+6</span></a>
        <a href="#" class="list-group-item">Convert this point from Camera to World space:<i class="pull-left glyphicon glyphicon-ok chl-status"></i><span class="badge pull-right">+7</span></a>
        <a href="#" class="list-group-item">What is the third stage in the Graphics Pipeline?<i class="pull-left glyphicon glyphicon-ok chl-status"></i><span class="badge pull-right">+8</span></a>
      </uib-accordion-group>
    </uib-accordion>
  </div>
</div>



<div class="container-white">
  <div class="row">
    <uib-accordion close-others="false">
      <uib-accordion-group id="test1" class="list-group accordion-list-fix panel panel-success" is-open="status[0].open" is-disabled="status[0].disabled">
        <uib-accordion-heading>
          <i class="pull-left glyphicon glyphicon-ok"></i>
          Week 1
          <!-- <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> -->
        </uib-accordion-heading>
        <a href="#" class="list-group-item">Calculate the determinant:<i class="pull-left glyphicon glyphicon-ok chl-status"></i><span class="badge pull-right">+5</span></a>
        <a href="#" class="list-group-item">When can a determinant be negative?<i class="pull-left glyphicon glyphicon-ok chl-status"></i><span class="badge pull-right">+6</span></a>
        <a href="#" class="list-group-item">Convert this point from Camera to World space:<i class="pull-left glyphicon glyphicon-ok chl-status"></i><span class="badge pull-right">+7</span></a>
        <a href="#" class="list-group-item">What is the third stage in the Graphics Pipeline?<i class="pull-left glyphicon glyphicon-ok chl-status"></i><span class="badge pull-right">+8</span></a>
      </uib-accordion-group>

      <uib-accordion-group id="test2" class="list-group accordion-list-fix panel panel-warning" is-open="status[1].open" is-disabled="status[1].disabled">
        <uib-accordion-heading>
          <i class="pull-left glyphicon glyphicon-alert"></i>
          Week 2 – One challenge due today!
          <!-- <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> -->
        </uib-accordion-heading>
        <a href="#chls/determinant1" class="list-group-item">Calculate the determinant:<i class="pull-left glyphicon glyphicon-ok chl-status"></i><span class="badge pull-right">+9</span></a>
        <a href="#chls/determinant-negative" class="list-group-item">When can a determinant be negative?<i class="pull-left glyphicon glyphicon-ok chl-status"></i><span class="badge pull-right">+10</span></a>
        <a href="#chls/camera_to_world" class="list-group-item">Convert this point from Camera to World space:<i class="pull-left glyphicon glyphicon-ok chl-status"></i><span class="hidden-xs-down badge pull-right">+10</span></a>
        <a href="#chls/graphics_pipeline_3" class="list-group-item">What is the third stage in the Graphics Pipeline?<i class="pull-left glyphicon glyphicon-alert chl-status"></i></a>
        <a  class="list-group-item disabled">What is the fourth stage in the Graphics Pipeline?<i class="pull-left glyphicon glyphicon-none chl-status"></i></a>
        <a  class="list-group-item disabled">Fill in the blank for this fragment shader<i class="pull-left glyphicon glyphicon-none chl-status"></i></a>
        <a  class="list-group-item disabled">Fill in the blank for this vertex shader<i class="pull-left glyphicon glyphicon-none chl-status"></i></a>
      </uib-accordion-group>
    </uib-accordion>
  </div>
</div>
