<div>
   <input type="button" ng-click="startNewAtt()" class="btn btn-primary inline-block"
    value="Start new Attempt"></input>
   <div ng-repeat="(chl, attempts) in atts">
      <h1>{{ chl }} <button class="btn btn-primary" ng-disabled="inProgress[chl]" ng-click="startNewAtt(chl)">Start new attempt</button></h1>
        <div ng-class="getAttColor(att)" ng-repeat="att in attempts | orderBy:'startTime'" style="margin-bottom: 10px;">
           <input type="button" class="btn" ng-click="checkAtt(att.id)"
            value = "{{chl}}"></input>
           <input type="button" class="btn" ng-click="quitAtt(att.id)"
            value = "Quit"></input>
            <span class="pull-right">
            {{att.startTime | date:'short'}}
            </span>
           <div class="panel-body">
              State: {{att.state | attState}}<br/>
              Score: {{att.score >= 0 ? att.score : "n/a"}}<br/>
           </div>
        </div>
      </div>
   </div>
</div>
