<div class="container-white">
   <div class="row">
      <div class="col-sm-7">
         <h2>Change Server Time</h2>
         <hr />

         Coming soon!
      </div>
      <div class="col-sm-5">
         <h2>Create new</h2>
         <hr />

         <form>
            <div class="form-group">
               <input type="text" placeholder="Course name" ng-model="courseName" class="form-control" />
               <input type="text" placeholder="Teacher Email" ng-model="teacherEmail" class="form-control" />
            </div>
            <button class="btn btn-primary" ng-click="createCourse()">Submit</button>
            <h4 class="bg-danger" ng-repeat="error in errors" style="padding: 10px;">
               {{ error }}
            </h4>
         </form>
      </div>
   </div>
</div>
