

<div class="container-white row">
   <h1>{{ courseName }}</h1>
   <div class="col-sm-5">
      <h2>Enrollments</h2>
      <hr />

      <div class="list-group">
   <a href="#" class="list-group-item disabled">
   Students
   </a>
   <a class="list-group-item" ng-repeat="enr in enrs">
      <button class="btn btn-small btn-warning pull-right" ng-click="deleteEnrollment(enr.enrId)">Delete</button>
      {{ enr.email }}
   </a>
   <a class="list-group-item">
      <form>
         <button type="submit" class="btn btn-small btn-primary pull-right" ng-click="addEnrollment()">Enroll</button>
         <input type="text" placeholder="Student email" ng-model="email" style="width: 150px" />
         <h4 class="bg-danger" ng-repeat="error in errors" style="padding: 10px;">
            {{ error }}
         </h4>
      </form>
   </a>
</div>
   </div>
   <div class="col-sm-7">
      <h2>Challenges</h2>
      <hr />

      <div class="panel panel-default" ng-repeat="challenge in chls">
         <div class="panel-heading">
            <button ng-click="viewChallenge(challenge.name)" class="btn btn-success pull-right" type="button" ng-disabled="!isOpen(challenge)">Go!</button>
            <h3 class="panel-title">{{ challenge.name }}</h3>
            <div class="clearfix"></div>
         </div>
         <div class="panel-body">
            {{ challenge.description }}
         </div>
      </div>

      <form>
         <div class="panel panel-success">
            <div class="panel-heading">
               <div class="btn-group btn-group-justified" role="group" ng-hide="challenge.type">
                  <div class="btn-group" role="group">
                     <button type="button" class="btn btn-default" disabled>Add new ... </button>
                  </div>
                  <div class="btn-group" role="group">
                     <button type="button" class="btn btn-default" ng-click="challenge.type = 'number'">Number</button>
                  </div>
                  <div class="btn-group" role="group">
                     <button type="button" class="btn btn-default" ng-click="challenge.type = 'term'">Term</button>
                  </div>
               </div>
               <h2 class="panel-title input-group" ng-show="challenge.type">
                  <span class="input-group-addon" id="basic-addon1" ng-click="challenge.type = false">{{ challenge.type }}</span>
                  <input type='text' ng-model="challenge.name" class="form-control input-group" placeholder="New Challenge" />
               </h2>
               <div class="clearfix"></div>
            </div>
            <div class="panel-body" ng-show="challenge.type">
               <textarea class="form-control" ng-model="challenge.description" placeholder="Description of challenge"></textarea><br>
               <input ng-show="challenge.type === 'term'" class="form-control" type="text" ng-model="exact" placeholder="Exact Answers" />
               <input ng-show="challenge.type === 'term'" class="form-control" type="text" ng-model="inexact" placeholder="Inexact Answers" />
               <input ng-show="challenge.type === 'number'" class="form-control" type="text" ng-model="challenge.answer" placeholder="Answer" /><br>
               <div class="row">
                  <div class="col-xs-6">
                     atts Allowed: <input type="number" class="form-control" ng-model="challenge.attsAllowed" />
                  </div>
                  <div class="col-xs-6">
                     Opening date: <input type="date" class="form-control" ng-model="challenge.openTime" />
                  </div>
               </div><br>
               <button class="btn btn-success" type="submit" ng-click="createChallenge()">Create</button>
            </div>
         </div>
      </form>
   </div>
</div>

<div class="container-white row" style="margin-top: 20px;">
  <h2>Course Shop</h2>

  <div class="list-group-item" ng-repeat="itm in itms">
     <button class="btn btn-small btn-warning pull-right" ng-click="deleteItm(itm.id)">Delete</button>
     <b>{{ itm.name }}</b>
     <br>
     Cost: {{ itm.cost }} credits
  </div>

  <form>
     <div class="panel panel-info">
        <div class="panel-heading">
           <div class="btn-group btn-group-justified" role="group" ng-hide="makingItm">
              <div class="btn-group" role="group">
                 <button type="button" class="btn btn-default" ng-click="makingItm = true">Add new item...</button>
              </div>
           </div>
           <h2 class="panel-title input-group" ng-show="makingItm">
              <span class="input-group-addon" id="basic-addon1">Name</span>
              <input type='text' ng-model="newItm.name" class="form-control input-group" placeholder="New Item" />
           </h2>
           <h2 class="panel-title input-group" ng-show="makingItm">
              <span class="input-group-addon" id="basic-addon1" >Cost</span>
              <input type='number' ng-model="newItm.cost" class="form-control input-group" placeholder="How many credits" />
           </h2>
           <button class="btn btn-success" ng-show="makingItm" type="submit" ng-disabled="!newItm.name || !newItm.cost" ng-click="createItm()">Create</button>
           <div class="clearfix"></div>
        </div>
     </div>
     <h4 class="bg-danger" ng-repeat="error in shopErrors" style="padding: 10px;">
        {{ error }}
     </h4>
  </form>


</div>
