<div class="container-white row">

</div>

<div class="container-white row">
   <h1>{{ courseName }}</h1>
   <div class="col-sm-5">
      <h2>Enrollments</h2>
      <hr />

      <div class="list-group">
   <a href="#" class="list-group-item disabled">
   Students
   </a>
   <a class="list-group-item" ng-repeat="enr in enrs">
      <button class="btn btn-small btn-warning pull-right" ng-click="deleteEnrollment(enr.enrId)">Delete</button>
      {{ enr.email }}
   </a>
   <a class="list-group-item">
      <form>
         <button type="submit" class="btn btn-small btn-primary pull-right" ng-click="addEnrollment()">Enroll</button>
         <input type="text" placeholder="Student email" ng-model="email" style="width: 150px" />
         <h4 class="bg-danger" ng-repeat="error in errors" style="padding: 10px;">
            {{ error }}
         </h4>
      </form>
   </a>
</div>
   </div>
   <div class="col-sm-7">
      <h2>Challenges</h2>
      <hr />

      <div class="panel panel-default" ng-repeat="challenge in chls">
         <div class="panel-heading">
            <button ng-click="viewChallenge(challenge.name)" class="btn btn-success pull-right" type="button" ng-disabled="!isOpen(challenge)">Test</button>
            <h3 class="panel-title">{{ challenge.name }}</h3>
            <div class="clearfix"></div>
         </div>
         <div class="panel-body">
            {{ challenge.description }}
         </div>
      </div>

      <button class="btn btn-info pull-right" type="button" ng-click="createChallenge()">View</button>
   </div>
</div>

<div class="container-white row" style="margin-top: 20px;">
  <h2>Course Shop</h2>

  <div class="list-group-item" ng-repeat="itm in itms">
     <button class="btn btn-small btn-warning pull-right" ng-click="deleteitm(itm.id)">Delete</button>
     <b>{{ itm.name }}</b>
     <br>
     Cost: {{ itm.cost }} credits
  </div>

  <form>
     <div class="panel panel-info">
        <div class="panel-heading">
           <div class="btn-group btn-group-justified" role="group" ng-hide="makingitm">
              <div class="btn-group" role="group">
                 <button type="button" class="btn btn-default" ng-click="makingitm = true">Add new item...</button>
              </div>
           </div>
           <h2 class="panel-title input-group" ng-show="makingitm">
              <span class="input-group-addon" id="basic-addon1">Name</span>
              <input type='text' ng-model="newitm.name" class="form-control input-group" placeholder="New Item" />
           </h2>
           <h2 class="panel-title input-group" ng-show="makingitm">
              <span class="input-group-addon" id="basic-addon1" >Cost</span>
              <input type='number' ng-model="newitm.cost" class="form-control input-group" placeholder="How many credits" />
           </h2>
           <button class="btn btn-success" ng-show="makingitm" type="submit" ng-disabled="!newitm.name || !newitm.cost" ng-click="createitm()">Create</button>
           <div class="clearfix"></div>
        </div>
     </div>
     <h4 class="bg-danger" ng-repeat="error in shopErrors" style="padding: 10px;">
        {{ error }}
     </h4>
  </form>


</div>
