<div class="container-white">
  <div class="row">
    <h1>{{ courseData.name }}: Admin</h1>
  </div>

  <div class="row">
    <uib-accordion close-others="false">
      <uib-accordion-group  ng-repeat="week in weeks"
      class="list-group accordion-list-fix panel panel-success {{week.stateClass}}"
      is-open="weekStatuses[$index].open" is-disabled="week.stateClass == 'week-disabled'">
        <uib-accordion-heading>
          Week {{$index + 1}}
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': weekStatuses[$index].open, 'glyphicon-chevron-right': !weekStatuses[$index].open}"></i>
        </uib-accordion-heading>
        <a ng-repeat="challenge in week.sortedChallenges" class="list-group-item" ng-class="challenge.stateClass" ng-click="createChallenge(challenge, $parent.$index, $index)">
          {{challenge.name}}
          <i class="pull-left glyphicon chl-status"
          ng-class="{'glyphicon-ok': challenge.stateClass == 'chl-created', 'glyphicon-plus' : challenge.stateClass == 'chl-empty'}"></i>
          <button ng-show="challenge.stateClass === 'chl-created'" type="button" class="pull-right btn btn-sm btn-primary btn-in-row" ng-click="viewChallenge(challenge, $parent.$index, $index)" >Test</button>
          <button ng-show="challenge.stateClass === 'chl-created'" type="button" class="pull-right btn btn-sm btn-info btn-in-row">Edit</button>
       </a>
      </uib-accordion-group>
    </uib-accordion>
  </div>

  <div class="row">
    <div class="col-sm-12" ng-show="loggedUser.role >= 1">
      <h2>Enrollments</h2>
      <hr />

      <div class="list-group">
        <a href="#" class="list-group-item disabled">
          Students
        </a>
        <a class="list-group-item" ng-repeat="enr in enrs">
          <button class="btn btn-small btn-warning pull-right" ng-click="deleteEnrollment(enr.enrId)">Delete</button>
          {{ enr.email }}
        </a>
        <a class="list-group-item">
          <form>
            <button type="submit" class="btn btn-small btn-primary pull-right" ng-click="addEnrollment()">Enroll</button>
            <div class="input-group">
               <input type="text" placeholder="Student email" ng-model="email" style="width: 150px" />
               <span class="input-group-addon">@calpoly.edu</span>
            </div>
            <h4 class="bg-danger" ng-repeat="error in errors" style="padding: 10px;">
              {{ error }}
            </h4>
          </form>
        </a>
      </div>
    </div>
  </div>
</div>
