<div>
<h1> My courses</h1>
   <div ng-repeat="course in crss" class="panel">
     <div class="panel-body">
       Course name: {{ course.name }}<br />
       <button class="btn bg-success" ng-click="viewCourse(course.name)">View</button>
       <button class="btn bg-danger" ng-click="deleteCourse(course.name)">Delete</button>
     </div>
   </div>
   <form>
    <h2>Create new course:</h2>
    <input type="text" placeholder="Course name" ng-model="courseName" />
    <button class="btn btn-primary" ng-click="createCourse()">Submit</button>
    <h4 class="bg-danger" ng-repeat="error in errors" style="padding: 10px;">
    {{ error }}
  </h4>
   </form>
</div>
