<div class="col-sm-8 col-sm-offset-2">
   <form class="form-horizontal" ng-submit="register()">
      <fieldset class="form-group">
         <label for="email" class="control-label col-sm-4 col-xs-2">Email</label>
         <div class="col-sm-8 col-xs-10">
            <input id="email" type="email" class="form-control" placeholder="Enter email" ng-model="user.email">
         </div>
      </fieldset>
      <fieldset class="form-group">
         <label for="first" class="control-label col-sm-4 col-xs-2">First Name</label>
         <div class="col-sm-8 col-xs-10">
            <input id="first" type="text" class="form-control" placeholder="First Name" ng-model="user.firstname">
         </div>
      </fieldset>
      <fieldset class="form-group">
         <label for="last" class="control-label col-sm-4 col-xs-2">Last Name</label>
         <div class="col-sm-8 col-xs-10">
            <input id="last" type="text" class="form-control" placeholder="Last Name" ng-model="user.lastName">
         </div>
      </fieldset>
      <fieldset class="form-group">
         <label for="password" class="control-label col-sm-4 col-xs-2">Password</label>
         <div class="col-sm-8 col-xs-10">
            <input id="password" type="password" class="form-control" placeholder="Password" ng-model="user.password">
         </div>
      </fieldset>
      <fieldset class="form-group" ng-class="confPass !== user.password ? 'has-error' : ''">
         <label for="password" class="control-label col-sm-4 col-xs-2">Confirm</label>
         <div class="col-sm-8 col-xs-10">
            <input id="password" type="password" class="form-control" placeholder="Confirm Password" ng-model="confPass">
         </div>
      </fieldset>
      <div class="form-group">
         <div class="col-sm-8 col-sm-offset-4 col-xs-10 col-xs-offset-2 text-left">
            <button type="submit" class="btn btn-primary" ng-disabled="!user.password || !user.email">Submit</button>
            <button type="button" class="btn btn-default" ng-click="goBack()">Cancel</button>
         </div>
      </div>
   </form>
</div>
